@import '../../assets/styles/abstracts';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    @include flexColumn();
}

header {
    width: 100%;
    height: 120px;
    background-color: $colorLightXl;
    @include flexColumn();
    justify-content: center;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 60px;
}