@font-face {
  font-family: "Georgia Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Regular"), url("/assets/fonts/georgia/georgia.woff") format("woff");
}
@font-face {
  font-family: "Georgia Italic";
  font-style: italic;
  font-weight: normal;
  src: local("Georgia Italic"), url("/assets/fonts/georgia/georgiai.woff") format("woff");
}
@font-face {
  font-family: "Georgia Bold";
  font-style: normal;
  font-weight: bold;
  src: local("Georgia Bold"), url("/assets/fonts/georgia/georgiab.woff") format("woff");
}
@font-face {
  font-family: "Georgia Bold Italic";
  font-style: italic;
  font-weight: bold;
  src: local("Georgia Bold Italic"), url("/assets/fonts/georgia/georgiaz.woff") format("woff");
}
@font-face {
  font-family: "Arial Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Arial Regular"), url("/assets/fonts/arial/ARIAL.woff") format("woff");
}
@font-face {
  font-family: "Arial Italic";
  font-style: italic;
  font-weight: normal;
  src: local("Arial Italic"), url("/assets/fonts/arial/ARIALI.woff") format("woff");
}
@font-face {
  font-family: "Arial Bold";
  font-style: normal;
  font-weight: bold;
  src: local("Arial Bold"), url("/assets/fonts/arial/ARIALBD.woff") format("woff");
}
@font-face {
  font-family: "Arial Bold Italic";
  font-style: italic;
  font-weight: bold;
  src: local("Arial Bold Italic"), url("/assets/fonts/arial/ARIALBI.woff") format("woff");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 120px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 1279px) {
  .nav-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .nav-wrapper {
    padding-left: 14px;
  }
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 186px;
  height: 60px;
  z-index: 100;
}
.header-logo .header-logo-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}
.header-logo .header-logo-subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #545454;
}

.nav-list {
  display: flex;
  margin-left: auto;
  max-width: 443px;
  height: 27px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.list-item-link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  transition: ease-in-out 0.3s;
}
.list-item-link:hover {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
}

.burger {
  position: relative;
  display: none;
  width: 30px;
  height: 22px;
  z-index: 100;
  transition: ease-in-out 0.3s;
  margin-right: 43px;
}
.burger:hover {
  cursor: pointer;
  color: #FDDCC4;
}

@media screen and (max-width: 767px) {
  .burger {
    display: block;
  }

  .burger.active {
    position: fixed;
    right: 0;
    filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(24deg) brightness(104%) contrast(104%);
  }
  .burger.active .line {
    transform: rotate(90deg);
    position: fixed;
  }
}
.burger-menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  max-width: 330px;
  width: 100%;
  background-color: #292929;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-menu .nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 327px;
  list-style: none;
}
.burger-menu .nav-list .list-item-link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  transition: ease-in-out 0.3s;
  font-size: 32px;
}
.burger-menu .nav-list .list-item-link:hover {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.burger-menu.active {
  right: 0;
}

main {
  background-color: #F6F6F6;
  width: 100%;
}

.pets-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 100px;
}
@media screen and (max-width: 1279px) {
  .pets-section {
    padding-bottom: 76px;
  }
}
@media screen and (max-width: 767px) {
  .pets-section {
    padding-top: 162px;
    padding-bottom: 46px;
  }
}

.pets-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
}
.pets-wrapper h3 {
  text-align: center;
}

h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
}
@media screen and (max-width: 767px) {
  h3 {
    font-size: 25px;
  }
}

.pets-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  row-gap: 30px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 1279px) {
  .pets-gallery {
    max-width: 580px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .pets-gallery .pet-card:nth-child(7) {
    display: none;
  }
  .pets-gallery .pet-card:nth-child(8) {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .pets-gallery {
    padding-top: 40px;
    justify-content: center;
  }
  .pets-gallery .pet-card:nth-child(4) {
    display: none;
  }
  .pets-gallery .pet-card:nth-child(5) {
    display: none;
  }
  .pets-gallery .pet-card:nth-child(6) {
    display: none;
  }
}

.pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFAFA;
  width: 270px;
  height: 435px;
  border-radius: 9px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.pet-card .pet-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.pet-card:hover {
  background-color: #FFFFFF;
}
.pet-card:hover .btn-pets {
  background-color: #FDDCC4;
  border: 2px solid transparent;
}

.btn-pets {
  width: 187px;
  height: 52px;
  padding: 15px 45px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  letter-spacing: 0;
  color: #292929;
  background-color: transparent;
  margin-bottom: 30px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.pets-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
}
.pets-buttons .slider-current {
  background-color: #F1CDB3;
  cursor: auto;
}
@media screen and (max-width: 767px) {
  .pets-buttons {
    max-width: 300px;
  }
}

.slider-button, .slider-current {
  border: none;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.slider-button:hover {
  background-color: #FDDCC4;
  border: 2px solid transparent;
}
.slider-button.disabled {
  border-color: #CDCDCD;
  cursor: auto;
}
.slider-button.disabled:hover {
  background-color: transparent;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../assets/images/png/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  width: 100%;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
  max-width: 1200px;
  width: 100%;
  display: flex;
}
.footer-wrapper h3 {
  color: #FFFFFF;
  max-width: 280px;
}
@media screen and (max-width: 767px) {
  .footer-wrapper h3 {
    text-align: center;
  }
}
@media screen and (max-width: 1279px) {
  .footer-wrapper {
    padding: 0 64px 0;
  }
  .footer-wrapper img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .footer-wrapper {
    padding: 30px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer-card1, .footer-card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  align-items: flex-start;
  height: 234px;
  justify-content: space-between;
}
.footer-card1 a, .footer-card2 a {
  display: flex;
  align-items: center;
  max-width: 302px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  color: #F1CDB3;
}
.footer-card1 a img, .footer-card2 a img {
  margin-right: 20px;
}
@media screen and (max-width: 1279px) {
  .footer-card1, .footer-card2 {
    margin-top: 30px;
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 767px) {
  .footer-card1, .footer-card2 {
    height: 208px;
    max-width: 278px;
    margin-top: 0;
    margin-bottom: 40px;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-card2 {
    height: 222px;
  }
  .footer-card2 a {
    width: 300px;
  }
  .footer-card2 a img {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer-image {
    width: 260px;
    height: 269px;
  }
}/*# sourceMappingURL=style.css.map */