.menu {
  padding: 10px;
  max-width: 25%;
  width: 100%;
  background-color: aquamarine;
}

.garage-menu {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 25%;
  width: 100%;
  background-color: aqua;
  margin-bottom: 50px;
}

.form__controls-wrapper {
  display: flex;
  gap: 1rem;
}

#generate-cars {
  width: 100%;
}