// header

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav {
  background-color: aquamarine;
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.nav__cart-button {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: pointer;
}

.nav__cart-img {
  width: 50px;
}