@import '../../styles.scss';

.search-input {
  max-width: 100%;
  width: 100%;
}

.range-filters {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 50px;
  max-width: 100%;
  width: 100%;
}

.value-filters {
  display: flex;
  flex-direction: column;
  gap: $spacing-small;
}

input[type="checkbox"] {
  cursor: pointer;
}

label {
  cursor: pointer;
  transition: $transition;
}

label:hover {
  color: $color-red;
}

.hide {
  display: none;
}

.search-container {
 display: flex;
 max-width: 100%;
 width: 100%;
}

.search-input {
  border: 1px solid black;
  border-right: none;
}

.search-input_close {
  background-color: $color-white;
  cursor: pointer;
  padding: 10px;
  border: 1px solid black;
  border-left: none;
}

#reset-filters {
  cursor: pointer;
  transition: $transition;
}

#reset-settings {
  cursor: pointer;
  transition: $transition;
}

#filter-price {
  cursor: pointer;
}

#filter-strings {
  cursor: pointer;
}

.noUi-touch-area {
  cursor: pointer;
  transition: $transition;
}

.noUi-touch-area:hover {
  background-color: $color-red;
}
