@import '../../styles.scss';

.search-input {
  max-width: 100%;
  width: 100%;
}

.range-filters {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 70px;
  max-width: 100%;
  width: 100%;
}

.value-filters {
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: $spacing-small;
}

.hide {
  display: none;
}

.search-container {
 display: flex;
 max-width: 100%;
 width: 100%;
}

.search-input {
  border: 1px solid black;
  border-right: none;
}

.search-input_close {
  background-color: $color-white;
  cursor: pointer;
  padding: 10px;
  border: 1px solid black;
  border-left: none;
}

