@import '../../styles.scss';

.sort-btn {
  background-color: transparent;
  color: $color-white-blur;
  padding: $spacing-small $spacing-medium;
  border: 1px solid $color-white-blur;
  border-radius: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  cursor: pointer;
  transition: $transition;
}

.sort-btn:hover {
  transform: scale(0.95);
}

.sort-btn_active {
  background-color: $color-white-blur;
  color: $color-red;
}