html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// 

.body {
  display: flex;
  flex-direction: column;
  background: rgb(37, 36, 36);
  color: white;
  padding: 50px 100px;
}

.button {
  background: gold;
  border-radius: 4px;
  border: 2px solid white;
  padding: 5px;
  width: 120px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 2px;
}

.button.primary {
  background: greenyellow;
  border-bottom: 4px solid white;
}

.button:active {
  transform: translateY(4px);
  border-bottom: 2px solid red;
}

.button:disabled {
  background: rgb(129, 141, 156);
}
