.table {
  border: 1px solid white;
  padding: 20px;
}

th {
  padding: 10px;
  border: 1px solid white;
}

td {
  padding: 10px;
  border: 1px solid white;
}

#wins {
  cursor: pointer;
}
#wins:hover{
  background-color: greenyellow;
}

#time {
  cursor: pointer;
}
#time:hover{
  background-color: greenyellow;
}
