.table {
  border: 1px solid white;
  padding: 20px;
}

.th, .td {
  padding: 10px;
  border: 1px solid white;
}

#wins, #time {
  cursor: pointer;
}

#wins:hover, #time:hover{
  background-color: greenyellow;
}

.dialog {
  font-size: 2rem;
  line-height: 3rem;
  background: inherit;
  color: white;
  margin-top: 140px;
}
